body {

    background-color: white;

}

.details {
    background-color: rgb(36, 36, 73);
    display: flex;
    height: 80px;
    margin-top: 0px;
}

.details .info {
    display: none;
}

.details .button {
    background-color: white;
}

.lg{
    margin-left: 15%;
    height: 30px;
    margin-top: 20px;
}

.details .button:hover {

    background-color:black;
    color:white;
}
.details .logo {
    margin-left: 10vw;
    margin-top: 20px;
    font-size: 30px;
    color: rgb(243, 42, 42);
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s ease;
}

.details .logo:hover {
    text-shadow: 0 0 25px orangered,
        0 0 50px orangered;
    transform: scale(1.1);
    color: orangered;
}

span {
    color: white;
}

.nav {
    margin-left: 15vw;
    padding: 25px;
    display: flex;
}

.nav a {
    padding: 5px;
    justify-content: space-between;
    font-size: larger;
    text-decoration: none;
    margin-right: 30px;
    color: white;
}

.nav a:hover {
    background-color: white;
    color: black;
    border-radius: 5px;
}

.container {
    width: 100%;
    height: 100 vh;
    display: flex;
}

.home {
    margin-top: 15vh;
    margin-left: 100px;

}

.home .h {
    color: black;
    font-size: 40px;
    margin-left: 40px;
    font-weight: bold;
}

.s {
    color: black;
    font-size: 50px;
    margin-left: 40px;
    font-weight: bold;
    color: orangered;
    text-shadow: 0 0 25px orangered;
}


.i {
    color: black;
    font-size: 50px;
    margin-left: 40px;
    font-weight: bold;
}

.c {
    color: black;
    font-size: 60px;
    margin-left: 40px;
    font-weight: bold;
}

.home p {
    margin-left: 40px;
    margin-top: 50px;
    font-style: italic;
}

.image {
    margin-top: 50px;
    margin-left: 200px;
}

img {
    width: 270px;
    border-radius: 50%;
    box-shadow: 0 0 25px orangered;
}

.buttons {
    margin-top: 0px;
    margin-left: 138px;
}

.buttons button {
    height: 50px;
    width: 100px;
    border-radius: 10px;
}

.buttons .button {
    background-color: white;
    font-weight: bold;
    border-color: orangered;
    border-width: 1px;
}

.buttons .buttona {
    background-color: black;
    color: white;
    font-weight: bold;
    margin-left: 20px;
}

.buttona:hover {
    color: black;
    background-color: orangered;
}

.button:hover {
    color: white;
    background-color: darkblue;
}

footer {
    background-color: rgb(36, 36, 73);
    color: white;
    text-align: center;
    padding: 3px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media (max-width: 768px) {
    .details {
        background-color: rgb(36, 36, 73);
        display: flex;
        height: 80px;
    }

    .details .button {
        display: none;
        margin-top: 15px;
        background-color: white;
        margin-left: 65vw;
        height: 40px;
        width: 130px;
        font-size: 18px;
        border-radius: 10px;
        transform: 0.4s ease;
    }

    .details .logo {
        margin-left: 12vw;
        margin-top: 20px;
        font-size: 30px;
        color: rgb(243, 42, 42);
        font-weight: bold;
        text-decoration: none;
        transition: 0.3s ease;
    }

    .details .logo:hover {
        text-shadow: 0 0 25px orangered,
            0 0 50px orangered;
        transform: scale(1.1);
        color: orangered;
    }

    span {
        color: white;
    }

    .details .info {
        display: block;
        height: 5vh;
        width: 25vw;
        margin-top: 15px;
        margin-left: 10px;
        border-radius: 5px;
    }

    .info :hover {
        background-color: orangered;
    }

    .nav {
        border-radius: 5px;
        margin-top: 60px;
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 0px 25px orangered;
        z-index: 1;
        margin-left: 10px;
    }

    .nav a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .nav a:hover {
        background-color: black;
        color: white;
        border-radius: 5px;
    }

    .details .button:hover {

        background-color: orangered;
        color: black;
        transform: scale(1.1);
    }

    .container {
        width: 100%;
        height: 100 vh;
        display: block;
    }

    .home {
        margin-top: 10vh;
        margin-left: 0px;

    }

    .home .h {
        color: black;
        font-size: 30px;
        margin-left: 40px;
        font-weight: bold;
    }

    .s {
        color: black;
        font-size: 50px;
        margin-left: 40px;
        font-weight: bold;
        color: orangered;
        margin-left: 10px;
        text-shadow: 0 0 25px orangered;
    }

    

    .i {
        color: black;
        font-size: 50px;
        margin-left: 40px;
        font-weight: bold;
    }

    .c {
        color: black;
        font-size: 30px;
        margin-left: 40px;
        font-weight: bold;
    }

    .home p {
        margin-left: 40px;
        margin-top: 50px;
        font-style: italic;

    }

    .image {
        margin-top: 30px;
        margin-left: 0px;

    }

    img {
        margin-top: 20px;
        margin-left: 15vw;
        width: 270px;
        border-radius: 50%;
        box-shadow: 0 0 25px orangered;
    }

    .buttons button {
        height: 50px;
        width: 100px;
        border-radius: 10px;
        margin-left: 90px;
        margin-top: 50px;

    }

    .buttons {
        margin-left: 0px;
    }

    .buttons .button {
        background-color: white;
        font-weight: bold;
        border-color: orangered;
        border-width: 1px;
    }

    .buttons .buttona {
        background-color: black;
        color: white;
        font-weight: bold;
        margin-left: 20px;
    }

    .buttona:hover {
        color: black;
        background-color: orangered;
    }

    .button:hover {
        color: white;
        background-color: darkblue;
    }

    footer {
        background-color: rgb(36, 36, 73);
        color: white;
        text-align: center;
        padding: 3px;
        width: 100%;
        position: relative;
        margin-top: 50px;
    }
        #google_translate_element {
            
            color: white;
            margin-top: 25px;
            margin-left: 13vw;
            width: 11%;
            overflow: hidden;
        }
}